provide an option to maintain angle brackets around URIs

We might be limited by the way markdown handles creating URLs, but wanted to see if the following was possible:

Currently when adding a URL to the text when using kramdown-rfc - for example:

``` md
This is the homepage for the RFC Editor: <https://www.rfc-editor.org/>
```
 creates the following in xml:
``` xml
<t>This is the homepage for the RFC Editor: <eref target="https://www.rfc-editor.org/">https://www.rfc-editor.org/</eref></t>
```
Yields the following:
In html output:

> This is the homepage for the RFC Editor: https://www.rfc-editor.org/

In txt output:

> This is the homepage for the RFC Editor: https://www.rfc-editor.org/ (https://www.rfc-editor.org/)

Note that [Section 3.3 of RFC 7322](https://www.rfc-editor.org/rfc/rfc7322.html#section-3.3) strongly recommends using angle brackets around URIs.

So the desired xml would use the `brackets="angle"` attribute for eref like so:

``` xml
<t>This is the homepage for the RFC Editor: <eref brackets="angle" target="https://www.rfc-editor.org/"/></t>
```
which yields:
``` txt
This is the homepage for the RFC Editor: <https://www.rfc-editor.org/>
```

Currently, we note instances of URIs in the markdown to be updated manually in the XML later in the publication process - which adds some unwanted tedium. 

Thanks Carsten! 

I was able use that solution to get the desired behavior using the standard markdown syntax for a link and leaving the text blank:

``` md
{:uri: brackets="angle"}
The RFC Editor homepage: [](https://www.rfc-editor.org/){:uri}
```

yields in xml

``` xml
<t>The RFC Editor homepage: <eref brackets="angle" target="https://www.rfc-editor.org/"/></t>
```
and in txt
``` txt
The RFC Editor homepage: <https://www.rfc-editor.org/>
```