Issues with binary-art artwork

The following kramdown code is causing some errors:

```
~~~~ binary-art
{::include ./te-topo.bmp}
~~~~
{: #fig-te-topo title="TE Topology"}

```

Can you supply the file and the error messages?

(If the file name is indicative, you are trying to include a BMP file, which is a binary file.
Can you explain what you expect to happen here?)

What is `binary-art`?  is there any documentation for this you can point to?

These are the .md and .bmp files: [te-topo-and-tunnel-modeling.zip](https://github.com/cabo/kramdown-rfc/files/9775828/te-topo-and-tunnel-modeling.zip)

This is the error message I am getting:

```
Traceback (most recent call last):
        6: from /usr/local/bin/kramdown-rfc2629:23:in `<main>'
        5: from /usr/local/bin/kramdown-rfc2629:23:in `load'
        4: from /var/lib/gems/2.7.0/gems/kramdown-rfc2629-1.6.9/bin/kramdown-rfc2629:3:in `<top (required)>'
        3: from /usr/lib/ruby/2.7.0/rubygems/core_ext/kernel_require.rb:72:in `require'
        2: from /usr/lib/ruby/2.7.0/rubygems/core_ext/kernel_require.rb:72:in `require'
        1: from /var/lib/gems/2.7.0/gems/kramdown-rfc2629-1.6.9/lib/kramdown-rfc/command.rb:530:in `<top (required)>'
/var/lib/gems/2.7.0/gems/kramdown-rfc2629-1.6.9/lib/kramdown-rfc/command.rb:530:in `gsub!': invalid byte sequence in UTF-8 (ArgumentError)
*** kramdown-rfc failed, status 1
```

The `binary-art` is defined in section 2.5.7 of [RFC7991](https://www.rfc-editor.org/rfc/rfc7991.html)

My expectation is to see the figure in the pdf version of the document and some empty space (or some text like "Artwork only available as SVG" for the `svg` artwork type) in the txt version of the document

See for example:
- https://www.ietf.org/archive/id/draft-ietf-teas-te-topo-and-tunnel-modeling-06.pdf
- https://www.ietf.org/archive/id/draft-ietf-teas-te-topo-and-tunnel-modeling-06.txt

In fact, I am experimenting the option of using kramdown to progress the work of this I-D


> These are the .md and .bmp files: te-topo-and-tunnel-modeling.zip

Thanks.

The .bmp file really is a Windows 3.x “bitmap” file; RFCXML does not have a way to handle that.

(It looks a bit weird to me as it is on a black background; presumably there was text but that is also black and thus not visible on the black background.)

> /var/lib/gems/2.7.0/gems/kramdown-rfc2629-1.6.9/lib/kramdown-rfc/command.rb:530:in `gsub!': invalid byte sequence in UTF-8 (ArgumentError)
> *** kramdown-rfc failed, status 1

Kramdown-rfc chokes on the {::include …}, which expects UTF-8 text.

> The binary-art is defined in section 2.5.7 of RFC7991

The term `binary-art` is mentioned, but is it ever defined anywhere?

> My expectation is to see the figure in the pdf version of the document and some empty space (or some text like "Artwork only available as SVG" for the svg artwork type) in the txt version of the document

Makes sense.

This would require

— a kramdown-rfc syntax that doesn’t use {::include …}
— a converter from BMP to SVG, the only graphics format defined for RFXMLv3.

It may be easier to get the tool that generated the BMP to generate SVG, in which case it is very easy to put this into the I-D.

> See for example:
> 
> 	• https://www.ietf.org/archive/id/draft-ietf-teas-te-topo-and-tunnel-modeling-06.pdf
> 	• https://www.ietf.org/archive/id/draft-ietf-teas-te-topo-and-tunnel-modeling-06.txt

I’m not sure how these were generated (the XML source has not been submitted, just a TXT and a PDF generated by Microsoft Word 2013); xml2rfc (the target of kramdown-rfc) would need an SVG document to create something like this.

> In fact, I am experimenting the option of using kramdown to progress the work of this I-D

… which is a great idea, but hampered a bit by the transitional state of graphics in RFCXMLv3…

If you find a way for the graphics tool to generate SVG (or possibly vector PDF, which can be converted into SVG), we could pursue this further.
(I’ll also look at a vectorizer that I could include in kramdown-rfc.)

Grüße, Carsten




This is the pdf version of the figure: [te-topo.pdf](https://github.com/cabo/kramdown-rfc/files/9780142/te-topo.pdf)


> This is the pdf version of the figure: [te-topo.pdf](https://github.com/cabo/kramdown-rfc/files/9780142/te-topo.pdf)

Thank you, but that is just the image embedded in a PDF, not the vector form of the drawing.
To obtain reasonable SVG, it would be useful to have vector PDF (or SVG in the first place).

The "binary-art" confusion is now https://www.rfc-editor.org/errata/eid7169
(But I'd still like to address the requirement here.)

Thanks for following-up

I am also planning to check/test what should be done in XMLv3 to achieve the desired behavior (if possible/supported by XML2RFC) but need some time. This may help understanding what this tool should do.