generating bitfield/bytefield tables

it can be quite useful for a standard to include a bitfield/bytefield representation of a protocol data object.

For example, [RFC 1035 §4.1.1](https://datatracker.ietf.org/doc/html/rfc1035#section-4.1.1) contains:

```
                                    1  1  1  1  1  1
      0  1  2  3  4  5  6  7  8  9  0  1  2  3  4  5
    +--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+
    |                      ID                       |
    +--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+
    |QR|   Opcode  |AA|TC|RD|RA|   Z    |   RCODE   |
    +--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+
    |                    QDCOUNT                    |
    +--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+
    |                    ANCOUNT                    |
    +--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+
    |                    NSCOUNT                    |
    +--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+
    |                    ARCOUNT                    |
    +--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+
```

It would be great to be able to generate tables like this that would at least use colspan attributes (which are [supported in xml2rfc v3](https://datatracker.ietf.org/doc/html/rfc7991#section-2.56.3)).

I'm aware that most markdown variants don't support colspan (multimarkdown [seems to be the exception](https://fletcher.github.io/MultiMarkdown-4/tables).

It's also conceivable that we'd want rowspan attributes for larger blocks, but colspan seems like the most likely thing here.

Thanks for this additional documentation, @cabo.  This is what i needed.