referencing a table or a figure in another RFC

It is really nice to be able to reference specific sections and appendices in another RFC like this:

```
{{Section 4.2 of RFC9580}}
```

It would also be nice to be able to reference specific tables or figure, something like this:

```
{{Table 18 of RFC9580}}
```

This doesn't appear to be possible at the moment.

Workaround until the smoother syntax is installed:

```
See {{RFC9580}}{: section="Table 18" relative="#table-18"}.
```

Problem: xml2rfc puts in a spurious "Part" (HTML):

```
See [Part Table 18](https://rfc-editor.org/rfc/rfc9580#table-18) of [[RFC9580](http://127.0.0.1:7991/#RFC9580)].
```

(or in TXT:)

```
   See Part Table 18 of [RFC9580].
```

So for this feature to become useful, we'd need xml2rfc to be fixed to avoid the spurious word "Part".


text.py:

```
            label = 'Section' if section[0].isdigit() else 'Appendix' if re.search(r'^[A-Z](\.|$)', section) else 'Part'
```

I don't see a way to circumvent this superfluous insertion.



Ah.

```
See {{RFC9580}}{: section="Table 18" relative="#table-18" sectionFormat="bare"} of {{RFC9580}}.
```

I'll need to check how to integrate this into the smoother syntax, keeping in mind that you may want to say

See {{Section 1.2.3., Appendix A, Figures 4 and 11, and Tables 99, 17, and 43 of RFC9580}}.
